.infoBox {
    position: fixed;
    width: calc(7.8% + 1vw);
    height: calc(13% + 1vw);
    bottom: 0;
    background: linear-gradient(to bottom, #0079bc 5%, #0079bc 100%);
    font-weight: 600;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}

.clock {
    position: fixed;
    width: calc(7.8% + 1vw);
    height: calc(7% + 1vw);
    bottom: 0;
    font-weight: 600;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    font-size: 13px;
    padding: 10px;
}

.clock div{
    font-weight: 600;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    font-size: 13px;
}

.navFirst {

}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.navFirstImg {
    position: fixed;
    background-size: 100%;
    height: 100%;
    left: 0;
    width: calc(10% + 1vw);
    display: flex;
}

.navSecond {

}

.navSecondImg {
    position: fixed;
    background-size: 100%;
    height: 100%;
    left: 0;
    width: calc(22% + 1vw);
    display: flex;
}

.table_with_space {
    display: flex;
}

.left_space {
    width: calc(38% + 1vw);
}

.menu_all_items {
    padding-top: 15px;
    position: fixed;
    height: calc(75% + 1vw);
    width: calc(7% + 1vw);
    margin-left: 0;
    padding-left: 0;
    top: 18%;
    /*
    left: calc(0.001% + 1vw);
    */
    left: 1px;
    border-radius: 10px;
}

.menu_items {
    list-style-type: none;
    border: none;
    width: calc(105% + 1vw);

    /*
    border-bottom: 1px solid #007bbd;
    */
    font-weight: 600;
    background: none;
    font-family: sans-serif;
    color: #FFFFFF;
    /*
    border-radius: 10px;
    */
    /*
    margin: 1px;
    */

    text-align: left;
    /*
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.8);
    */
    font-size: 15px;
    padding: 5px;
}

.menu_items:hover {
    /*
    border-radius: 10px;
    */
    background: linear-gradient(to bottom, #007bbd 5%, #007bbd 100%);
}

.menu_items:active {
    position: relative;
    top: 1px;
}

.groupSelect {
    padding-top: 15px;
    position: fixed;
    height: calc(75% + 1vw);
    width: calc(10.5% + 1vw);
    margin-left: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 0;
    top: 16%;
    left: calc(9.5% + 1vw);
    border-radius: 10px;
}


.groupSelect input {
    list-style-type: none;
    border: none;
    width: calc(120% + 1vw);
    /*
    margin: 1px;
    */
    /*
    border-bottom: 1px solid #27b9f4;
    */
    font-weight: 600;
    background: none;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    /*
    border-radius: 10px;
    */

    /*
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.8);
    */
    font-size: 15px;
    padding: 10px;

}

.changes {
    text-decoration: none;
}

.groupSelect input:hover {
    background: linear-gradient(to bottom, #27b9f4 5%, #27b9f4 100%);
    /*
    border-radius: 10px;
    */
}

.groupSelect input:active {
    position: relative;
    top: 1px;
}

.header_space {
    height: 129px;
}

.footer_space {
    height: 150px;
}

.daySelect {
    margin-top: 10px;
    position: fixed;
    width: calc(5% + 1vw);
    margin-right: 5px;
    /*
    display: flex;
    */
    top: 15%;
    left: calc(21.5% + 1vw);
    padding: 10px;
}

.dayOfWeekNotSelected {
    background: no-repeat center/100% url("../src/day_circle_not_selected.png");
    list-style-type: none;
    font-weight: 600;
    font-family: sans-serif;
    color: #FFFFFF;
    border: none;
    font-size: calc(15% + 1vw);;
    padding: 20px;
    margin: 4px;
}

.dayOfWeekNotSelected:hover {
    background: no-repeat center/100% url("../src/day_circle_hover.png");
}

.dayOfWeekNotSelected:active {
    position: relative;
    top: 1px;
}

.dayOfWeekSelected {
    background: no-repeat center/100% url("../src/day_circle_selected.png");
    list-style-type: none;
    font-weight: 600;
    font-family: sans-serif;
    color: #FFFFFF;
    border: none;
    font-size: calc(15% + 1vw);;
    padding: 20px;
    margin: 4px;
}

.dayOfWeekSelected:hover {
    background: no-repeat center/100% url("../src/day_circle_hover.png");
}

.dayOfWeekSelected:active {
    position: relative;
    top: 1px;
}