.groupSelect {
    padding-top: 15px;
    position: fixed;
    height: calc(77% + 1vw);
    width: calc(10.5% + 1vw);
    margin-left: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 0;
    top: 16%;
    left: calc(9.5% + 1vw);
}

.groupSelect input {
    list-style-type: none;
    border: none;
    width: calc(120% + 1vw);
    font-weight: 600;
    background: none;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}

.groupSelect input:hover {
    background: linear-gradient(to bottom, #27b9f4 5%, #27b9f4 100%);
}

.groupSelect input:active {
    position: relative;
    top: 1px;
}
