.tableLine div {

}

.teacher {
    flex: 4;
    display: flex;
    font-size: calc(20% + 1vw);
    margin-right: auto;
    padding: 1%;
    width: calc((100% - 20px * 2) / 3);
    margin-left: auto;
    float: left;
}

.numLesson {
    color: #FFFFFF;
    background: #20bbf4;
    padding: 1%;
    justify-content: space-around;
    font-size: calc(45% + 1vw);
    margin-right: auto;
    width: calc((100% - 20px * 2) / 3);
    margin-left: auto;
    float: left;
    flex: 0.2;
}

.subGroup {
    font-size: calc(40% + 1vw);
    margin-right: auto;
    padding: 1%;
    width: calc((100% - 20px * 2) / 3);
    margin-left: auto;
    float: left;
    flex: 1;
}

.subject {
    flex: 9;
    font-size: calc(40% + 1vw);
    margin-right: auto;
    padding: 1%;
    width: calc((100% - 20px * 2) / 3);
    margin-left: auto;
    float: left;
}


.room {
    font-size: calc(30% + 1vw);
    margin-right: auto;
    padding: 1%;
    display: flex;
    width: calc((100% - 20px * 2) / 3);
    margin-left: auto;
    float: left;
    flex: 1;
}

.timeLesson {
    font-size: calc(20% + 1vw);
    margin-right: auto;
    padding: 1%;
    display: flex;
    width: calc((100% - 20px * 2) / 3);
    margin-left: auto;
    float: left;
    flex: 1;
}

.tableLine {
    background: #FFFFFF;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #5C989898;
    border-right: 1px solid #5C989898;
    margin-bottom: 0.5%;
    display: flex;
}