
.allSelect {
    display: flex;
    flex-wrap: wrap;

}

.allSelect div {
    flex-wrap: wrap;


}

.navFirstImg {
    position: fixed;
    background-size: 100%;
    height: 100%;
    left: 0;
    width: calc(10% + 1vw);
    display: flex;
}

.menu_all_items {
    padding-top: 15px;
    position: fixed;
    height: calc(75% + 1vw);
    width: calc(8% + 1vw);
    margin-left: 0;
    padding-left: 0;
    top: 18%;
    left: 1px;
    border-radius: 10px;
}

.menu_items {
    list-style-type: none;
    border: none;
    width: calc(101% + 1vw);
    font-weight: 600;
    background: none;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    font-size: 15px;
    padding: 5px;
}

.menu_items:hover {
    background: linear-gradient(to bottom, #007bbd 5%, #007bbd 100%);
}

.menu_items:active {
    position: relative;
    top: 1px;
}

.navSecondImg {
    position: fixed;
    background-size: 100%;
    height: 100%;
    left: 0;
    width: calc(22% + 1vw);
    display: flex;
}






.roomselectdiv p {
    font-weight: bold;
}

.subjectselectdiv p {
    font-weight: bold;
}

.teacherselectdiv p {
    font-weight: bold;
}

.lessonNumDiv p {
    font-weight: bold;
}

.subGroupNumDiv p {
    font-weight: bold;
}

.roomselectdiv {
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}

.subjectselectdiv {
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}

.teacherselectdiv {
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}

.lessonNumDiv {
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}

.subGroupNumDiv {
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}


.roomSelect {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}

.subjectSelect {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}

.teacherSelect {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}

.lessonNumInput {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.8);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}

.subGroupNumInput {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}