

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 200px;
    padding: 0;
    width: 80%;
    border-radius: 20px;
    overflow: auto; /* Enable scroll if needed */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #007abd;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #007abd;
    color: white;
}

.allSelect{
    display: flex;
    flex-wrap: wrap;

}
.allSelect div{
    flex-wrap: wrap;


}

.addBt{
    background:linear-gradient(to bottom, #69f0ae 5%, #69f0ae 100%);
    background-color:#69f0ae;
    border: 1px solid #69f0ae;
    color: #FFFFFF;
    width: calc(80% + 1vw);
    position: relative;
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 10px rgba(43, 189, 126, 0.3);
    padding: 5px;
    border-radius: 10px;
}

.addBt:hover {
    background:linear-gradient(to bottom, #69f0ae 5%, #9fffe0 100%);
    background-color:#69f0ae;
}
.addBt:active {
    position:relative;
    top:1px;
}


.addLessonBt{
    background:linear-gradient(to bottom, #69f0ae 5%, #69f0ae 100%);
    background-color:#69f0ae;
    border: 1px solid #69f0ae;
    color: #FFFFFF;
    width: calc(80% + 1vw);
    font-size: 28px;
    position: relative;
    left: 50%;
    margin: 10px;
    transform: translate(-50%, 0);
    box-shadow: 0 0 10px rgba(43, 189, 126, 0.3);
    padding: 5px;
    border-radius: 10px;
    border-right: #9fffe0 solid 1px;
}

.addLessonBt:hover {
    background:linear-gradient(to bottom, #69f0ae 5%, #9fffe0 100%);
    background-color:#69f0ae;
}
.addLessonBt:active {
    position:relative;
    top:1px;
}

.groupselectdiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 10px;

/*transform: rotate(45deg);*/

border-right: #20bbf4 solid 1px;
}

.changes {
    position: fixed;
    alignment: right;
    margin-right: 5px;
    width: calc(6% + 1vw);
    margin-top: 15px;
    top: 11%;
    font-weight: 600;
    right: 0.7%;
    text-decoration: none;
    border-radius: 10px;
    background-color: #27b9f4;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.8);
}
.deleteLessonBt {
    background:linear-gradient(to bottom, #f44336 5%, #f44336 100%);
    background-color:#e87169;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    border: none;
    width: 30px;
    margin-top: 10px;
    height: 30px;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ba000d;
}
.deleteLessonBt:hover {
    background:linear-gradient(to bottom, #ff5252 5%, #ff7961 100%);
    background-color:#f44336;
}
.deleteLessonBt:active {
    top:1px;
}
.deleteIco{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
}
.delBt {
    background:linear-gradient(to bottom, #ff5252 5%, #ff5252 100%);
    background-color:#e87169;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    width: calc(80% + 1vw);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    font-weight:bold;
    padding:10px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c50e29;
}
.delBt:hover {
    background:linear-gradient(to bottom, #ff5252 5%, #ff867f 100%);
    background-color:#ff5252;
}
.delBt:active {
    position:relative;
    top:1px;
}



.dayselectdiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}
.dayselectdiv p{
    font-weight: bold;
}
.roomselectdiv p{
    font-weight: bold;
}
.groupselectdiv p{
    font-weight: bold;
}
.subjectselectdiv p{
    font-weight: bold;
}
.teacherselectdiv p{
    font-weight: bold;
}
.lessonNumDiv p{
    font-weight: bold;
}
.subGroupNumDiv p{
    font-weight: bold;
}
.roomselectdiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}
.subjectselectdiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}
.teacherselectdiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}
.lessonNumDiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}
.subGroupNumDiv{
    flex: 1;
    background: none repeat scroll 0 0 #2b98f4;
    border: 1px solid #27b9f4;
    color: #FFFFFF;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border-right: #20bbf4 solid 1px;
}


.groupSelect {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.daySelect {
    background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.roomSelect{
        background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.subjectSelect{
        background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.teacherSelect{
        background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.3);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.lessonNumInput{
        background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 77, 124, 0.8);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.subGroupNumInput{
        background: none repeat scroll 0 0 rgb(255, 251, 255);
    border: 1px solid #27b9f4;
    color: #0070ff;
    margin: 10px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}