body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f0f0f0;
    position: relative;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

.checkScreenSize {
    top: 0;
    position: fixed;
    font-size: 100px;
}



.groupSelect {

}

.groupName {

}

.dayOfWeek {

}

.title {
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(5% + 1vw);
    display: flex;
}

.allTable {

    top: 20%;
    left: 0;
    width: 100%;
}

.allSelect {
    display: flex;
    flex-wrap: wrap;

}

.allSelect div {
    flex-wrap: wrap;


}
